<div class="modal fade right" id="mensaje_error" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-danger modal-side  modal-bottom-right" role="document">

        <div class="modal-content">
     
            <div class="modal-header hoverable z-depth-4">
                <p class="heading lead">Hubo un Error!</p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>


            <div class="modal-body">
                <div class="text-center">
                    <i class="fa fa-exclamation-circle fa-5x mb-1 animated rotateIn"></i>
                    <p class="animated  tada lead imend">Codigo  o contrase&ntilde;a incorrecta.</p>
                </div>
            </div>

        </div>
 
    </div>
</div>

<div class="modal fade right" id="mensaje_end" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-warning modal-side  modal-bottom-right" role="document">

        <div class="modal-content">
     
            <div class="modal-header hoverable z-depth-4">
                <p class="heading lead">Alerta!</p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>


            <div class="modal-body">
                <div class="text-center">
                    <i class="fa fa-exclamation-triangle fa-5x mb-1 animated rotateIn"></i>
                    <p class="animated  tada lead imenw">La fecha límite para registrar los invitados es el día  {{ fecha_limite }} a las {{ hora_limite }}.</p>
                </div>
            </div>

        </div>
 
    </div>
</div>


<div class="modal fade right" id="mensaje_update" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-success modal-side  modal-bottom-right" role="document">

        <div class="modal-content">
     
            <div class="modal-header hoverable z-depth-4">
                <p class="heading lead">Exito!</p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>


            <div class="modal-body">
                <div class="text-center">
                    <i class="fa fa-check fa-5x mb-1 animated rotateIn "></i>
                    <p class="animated  tada lead imens">La contrase&ntilde;a ha sido modificada.</p>
                </div>
            </div>

        </div>
 
    </div>
</div>